sudo: required

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo DEBIAN_FRONTEND=noninteractive apt-get -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confnew" install docker-engine=1.10.3

install:
  - docker build -t tylerreddy/steric-conflicts docker_build/

script:
  - docker run -e "COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN" -i -t tylerreddy/steric-conflicts /bin/sh -c "cd /steric_analysis; nosetests --with-coverage --cover-package steric_assessment_general tests.py; coveralls"

after_success:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push tylerreddy/steric-conflicts
