sudo: required

language: python
python:
  - "2.7"
addons:
  apt:
    packages:
	python-nose2

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo DEBIAN_FRONTEND=noninteractive apt-get -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confnew" install docker-engine

install:
  - docker build -t tylerreddy/steric-conflicts docker_build/

script:
  - nosetests
